 /* {
   
    background-color: rgb(163, 196, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
} */

.container {
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 5px 3px 4px rgba(17, 16, 16, 0.1);
    width: 400px;
}


h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #b6aaaa;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #151a20;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#login-message, #signup-message {
    margin-top: 20px;
    text-align: center;
    color: tomato;
}

.toggle-link {
    color: #618ab6;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-top: 10px;
}